MSC.Hub.ForexService/MSC.Hub.ForexService/Schemas/ExchangeRequest_JSON.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://MSC.Hub.ForexService.ExchangeRequest_JSON" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExchangeRateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:string" />
        <xs:element minOccurs="0" name="to" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>